#main-content {
    height: 100%;
}

#content {
    margin: 3em auto;
    width: 90%;
}

#login, #register {
    margin: 3em auto;
    width: 360px;
}

#login h2, #register h2 {
    text-align: center;
}

#left-side {
    background-color: #2F323A;
    color: #FFF;
    height: 100%;
}

#left-side-bar ul{
    list-style: none;
    margin: 0;
}

#left-side-bar ul li a {
    color: #FFF;
    display: block;
    padding: 1em;
}

#left-side-bar ul li a:hover {
    background-color: #111;
}

#title-app {
    background-color: #111;
    padding: 0.6rem .5em;
}

.filter {
    width: 30%;
}

.remove-padding {
    padding: 0;
}

.my-table-scroll {
    height: 300px;
    overflow-y: scroll;
    margin-bottom: 1em;
}

.table-scroll-index {
    height: 600px;
    overflow-y: scroll;
    margin-bottom: 1em;
}

.title-h2 {
    display: inline-block;
}
